<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">CEP</h3>
      </div>
      <div class="card-block">
        <form class="form" novalidate>
          <div class="form-group">
            <input #cep class="form-control" id="cep" type="text" placeholder="Informe um CEP válido." (blur)="onClick(cep.value)" [textMask]="{mask: cepMask, placeholderChar: '\u2000', guide: true }" />
          </div>

          <button (click)="onClick(cep.value)" type="button" class="btn btn-info btn-block float-right"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-cep-details [endereco]="enderecoData"></app-cep-details>
